# Actividad - Librería `pandas`

* **Nombre:**
* **Matrícula:**

In [3]:
import pandas as pd
import numpy as np

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio.
**Nota:** Recuerda habrá una penalización de **50** puntos si la actividad fue entregada fuera de la fecha límite.

1. Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `DataFrame`.

In [6]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving netflix_titles.csv to netflix_titles.csv
User uploaded file "netflix_titles.csv" with length 3000481 bytes

In [7]:
df = pd.read_csv('netflix_titles.csv')

2. Desplegar las primeras 5 líneas del `DataFrame`.

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Implementa una función que despliegue el primer renglon de un `DataFrame`.

In [8]:
def the_first():
  return df.head(1)

the_first()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

4. Implementa una función que regrese el número de registros en el `DataFrame`.

In [9]:
def row_number():
  return df.info()

row_number()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

5. Implementa una función que despliega las películas con un `release_year` determinado.

In [10]:
def released_year(year):
    return df[df.release_year == 2020]



year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

6. Implementa una función que despliegue las películas que son de un país determinado.

In [11]:
def origin_country(country):
  return df[df.country == 'Mexico']

country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

7. Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

In [20]:
df2 = pd.DataFrame({
                    'Type': df.type,
                    'Title': df.title,
                    'Country': df.country,
                    'Release_year': df.release_year
                    })
df2

,Type,Title,Country,Release_year
0,TV Show,3%,Brazil,2020
1,Movie,7:19,Mexico,2016
2,Movie,23:59,Singapore,2011
3,Movie,9,United States,2009
4,Movie,21,United States,2008
...,...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar...",2005
7783,Movie,Zubaan,India,2015
7784,Movie,Zulu Man in Japan,NaN,2019
7785,TV Show,Zumbo's Just Desserts,Australia,2019
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States",2019

8. Despliega, cuantos tipos de producciones (`type`) se hicieron por país determinado (`country`).

In [41]:

df6 = pd.DataFrame({'Type': df.type,
                    'Country': df.country})
df6

sortdf6 = df6.groupby(['Type', 'Country']).sum()
sortdf6 = sortdf6.sort_values(by=['Type', 'Country'])
sortdf6

Empty DataFrame
Columns: []
Index: [(Movie, Argentina), (Movie, Argentina, Brazil, France, Poland, Germany, Denmark), (Movie, Argentina, Chile), (Movie, Argentina, Chile, Peru), (Movie, Argentina, France), (Movie, Argentina, France, United States, Germany, Qatar), (Movie, Argentina, Italy), (Movie, Argentina, Spain), (Movie, Argentina, United States), (Movie, Argentina, Uruguay, Serbia), (Movie, Argentina, Uruguay, Spain, France), (Movie, Australia), (Movie, Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay), (Movie, Australia, Canada), (Movie, Australia, France), (Movie, Australia, France, Ireland), (Movie, Australia, India), (Movie, Australia, Iraq), (Movie, Australia, United Arab Emirates), (Movie, Australia, United Kingdom), (Movie, Australia, United Kingdom, Canada), (Movie, Australia, United Kingdom, United Arab Emirates, Canada), (Movie, Australia, United Kingdom, United States, New Zealand, Italy, France), (Movie, Australia, United States), (Movie, Austria), (Movie, Austria, Czech Republic), (Movie, Austria, Iraq, United States), (Movie, Austria, United States), (Movie, Bangladesh), (Movie, Belgium), (Movie, Belgium, France), (Movie, Belgium, Ireland, Netherlands, Germany, Afghanistan), (Movie, Belgium, United Kingdom, United States), (Movie, Brazil), (Movie, Brazil, France), (Movie, Brazil, France, Germany), (Movie, Brazil, India, China, United States), (Movie, Brazil, Netherlands, United States, Colombia, Austria, Germany), (Movie, Brazil, United States), (Movie, Bulgaria), (Movie, Bulgaria, United States), (Movie, Bulgaria, United States, Spain, Canada), (Movie, Cambodia), (Movie, Cambodia, United States), (Movie, Canada), (Movie, Canada, Belgium), (Movie, Canada, France, Italy, Morocco, United States), (Movie, Canada, France, United States), (Movie, Canada, Germany), (Movie, Canada, Germany, France, United States), (Movie, Canada, Hungary, United States), (Movie, Canada, India), (Movie, Canada, India, Thailand, United States, United Arab Emirates), (Movie, Canada, Ireland, United States), (Movie, Canada, Japan, United States), (Movie, Canada, Luxembourg), (Movie, Canada, Mexico, Germany, South Africa), (Movie, Canada, Nigeria), (Movie, Canada, Norway), (Movie, Canada, South Africa), (Movie, Canada, South Korea, United States), (Movie, Canada, Spain), (Movie, Canada, Spain, France), (Movie, Canada, United Kingdom), (Movie, Canada, United Kingdom, Netherlands), (Movie, Canada, United Kingdom, United States), (Movie, Canada, United States), (Movie, Canada, United States, Cayman Islands), (Movie, Canada, United States, Germany), (Movie, Canada, United States, India, United Kingdom), (Movie, Canada, United States, United Kingdom), (Movie, Chile), (Movie, Chile, Argentina), (Movie, Chile, Argentina, France, Spain, United States), (Movie, Chile, France), (Movie, Chile, Peru), (Movie, Chile, Spain, Argentina, Germany), (Movie, Chile, United States, France), (Movie, China), (Movie, China, Canada, United States), (Movie, China, Germany, India, United States), (Movie, China, Hong Kong), (Movie, China, Hong Kong, United States), (Movie, China, India, Nepal), (Movie, China, Japan), (Movie, China, Morocco, Hong Kong), (Movie, China, South Korea, United States), (Movie, China, Spain, South Korea, United States), (Movie, China, Taiwan), (Movie, China, United States), (Movie, China, United States, Australia), (Movie, China, United States, United Kingdom), (Movie, Colombia), (Movie, Colombia, Mexico), (Movie, Colombia, Peru, United Kingdom), (Movie, Croatia, Slovenia, Serbia, Montenegro), (Movie, Czech Republic, France), (Movie, Czech Republic, Slovakia), (Movie, Czech Republic, United Kingdom, France), (Movie, Czech Republic, United States), ...]

[773 rows x 0 columns]

# 9. Implementa la función que genera el cuadrado de un número.

In [13]:
def square(x):
  return x.applymap(np.square)

10. Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [15]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df3 = df2.applymap(np.square)
df3

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500